.thick {
    border-width: 2px;
    border-color: black;
}
.button {
    height: 20px; background-color: rgb(182, 221, 221);
    width: 20px; margin: 0em; border: 2px solid black;
    padding: 2px 1px;
}
.button_two {
    height: 20px; background-color: rgb(142, 248, 142);
    width: 20px; margin: 1em; border: 2px solid black;
    padding: 2px 1px;
}
.span {
    color: black;
    font-size: 14px;
}
.rightside {
    position: relative;
    right: -2ex;
}
.red_button {
    padding: 2px 20px;
    background-color: rgb(250, 61, 61);
    margin: 0em;
}
.blue_button {
    padding: 2px 20px;
    background-color: rgb(182, 221, 221);
}
.lightgreen_button {
    padding: 2px 20px;
    background-color: rgb(142, 248, 142);
}
.green_button {
    padding: 2px 20px;
    background-color: rgb(115, 232, 115);
}
.Ranchers { font-family: 'Ranchers', cursive; font-size: 50px;}

h1 { font-size: 25px; 
    font-family: 'Ranchers', cursive;
    position: relative;
    right: -16px;
}
a { 
    color: black; 
    font-size: 14px;
    text-decoration: none;
}
a:hover { 
    text-decoration: none;
}
b {
    text-decoration: overline underline red;
}
p { 
    font-size: 14px;
    color: black;
    text-align: left;
}

.bar{
    text-align: center;
    display: flex;
    font-size: 14px;
}
.html5_box{  
    display: flex;
}
.html5{
    text-align: left;
}
h3{
    font-size: 25px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 3px;
    position: relative;
}
.outer_box{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
}
.p1_box{
    display: flex;
    flex-grow: 1;
}
.p2_box{
    display: flex;
    min-width: 25%;
    flex-grow: 1;
    border: 0.5px solid black;
    padding: 3px;
    margin: 3px;
    min-height: 300px;
    width: auto;
}
.p2_box img{
    vertical-align: middle;
}
#p2_left{
    width: 480px;
    height: 420px;
    border: 1px solid purple;
    padding: 0px;
    margin-bottom: 8px;
    margin-top: auto;
    margin-left: 5px;
    margin-right: auto;
    position: absolute;
}

#p2_right{
    width: 480px;
    height: 420px;
    border: 1px solid purple;
    padding: 0px;
    margin-bottom: 8px;
    margin-top: aut;
    margin-left: auto;
    margin-right: 5px;
}


.intro_box{
    column-count: 1;
    display: block;
    column-rule: 1px solid black;
}
.intro{
    display: flex;
}
.intro_name{
    display: flex;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    min-width: auto;
}

.line{
    border: 1px solid black;
    color: black;
}

.item {
    width: 300px;
    height: 415px;
    border: 1px solid black;
    border-color: black;
    margin: 10px;
    float: inline-start;
}

h2 {
    margin-left: 200px ;
    font-size: 20px;
    color: black;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 480px)
{
    .p1_box{
        flex-direction: column;
    }
}

@media (max-width: 800px){
    .html_box{
        flex-direction: column;
        text-align: center;
    }
    .outer_box{
        flex: 25%;
        flex-direction: column;
    }
    .p2_box{
        flex-direction: column;
    }
    .bar{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .intro_name{
        flex-direction: column;
        text-align: center;
    }
    
    .intro_box{
        column-count: 0;
        font-size: 0.8em;
    }
}

@media (min-width: 801px){
    .intro_box{
        display: block;
        column-count: 2;
        column-rule: 2px solid black;
        font-size: 0.8em;
    }
}

