
.thick {
    border-width: 2px;
    border-color: black;
}
.button {
    height: 20px; background-color: rgb(182, 221, 221);
    width: 20px; margin: 0em; border: 2px solid black;
    padding: 2px 1px;
}
.button_two {
    height: 20px; background-color: rgb(142, 248, 142);
    width: 20px; margin: 1em; border: 2px solid black;
    padding: 2px 1px;
}
.span {
    color: black;
    font-size: 14px;
}
.rightside {
    position: relative;
    right: -2ex;
}
.red_button {
    padding: 2px 20px;
    background-color: rgb(250, 61, 61);
    margin: 0em;
}
.blue_button {
    padding: 2px 20px;
    background-color: rgb(182, 221, 221);
}
.lightgreen_button {
    padding: 2px 20px;
    background-color: rgb(142, 248, 142);
}
.green_button {
    padding: 2px 20px;
    background-color: rgb(115, 232, 115);
}
.Ranchers { font-family: 'Ranchers', cursive; font-size: 50px;}

h1 { font-size: 25px; 
    font-family: 'Ranchers', cursive;
    position: relative;
    right: -16px;
}
a { 
    color: black; 
    font-size: 14px;
    text-decoration: none;
}
a:hover { 
    text-decoration: none;
}
b {
    text-decoration: overline underline red;
}

p { 
    font-size: 14px;
    color: black;
    text-align: left;
}

.bar{
    text-align: left;
    display: flex;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 1016px;
}

h3{
    font-size: 25px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 3px;
    position: relative;
}

.p1_box{
    display: flex;
    flex-grow: 1;
}

.line{
    border: 1px solid black;
    color: black;
    width: 1010x;
}

.item {
    width: 300px;
    height: 415px;
    border: 1px solid black;
    border-color: black;
    margin: 10px;
    float: inline-start;
}

h2 {
    margin-left: 200px ;
    font-size: 20px;
    color: black;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



@media (max-width: 1100px){
    
    body , body div {
        max-width: 480px;
        display: grid;
    }
    .p2_box{
        flex-direction: column;
    }
    .bar {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    aside {
        grid-row: 1;
        border-right: none;
        display: grid;      
      }
      input{
        width: calc(100% - 5px);
        padding: 5px 0 5px 5px;
    } 
    .head{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    #headtext{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    #header{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .black{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
     
}

.head{
    width: 981px;
    border: 5px solid black;
    border-bottom: 5px solid black ;
    padding: 15px;
    margin: auto;
    flex: auto;
}

#headText{
    margin-right: 30px;
    border: 0;
    margin-top: 0;
    margin-bottom: 5px;
    text-align:right;
    
}
/* hw5 icin yazilanlar */

aside, main  {
    padding: 20px;
}
aside {
    border-right: 5px solid black;
    display: flex;
    align-items: stretch;
    flex-flow: column;
}

body > div {
    border: 5px solid black;
    display: flex;
}

aside{
    margin-left: auto;
    margin-right: auto;
}
main{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    display: grid;
}

aside{
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

form{
    display: block;
    margin-top: 0em;
}
.search{
    display: grid;
}
#search{
    background: black;
    color: yellow;
}


label {
    width: 200px;
    display: inline;
}

select, input, .searchingbutton {
    width: 100px;
}


#searchingbutton {
  background: black;
  color: yellow;
  padding: 5px;
  border: none;
  border-radius: 10px;
}

body{
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    padding-bottom: 100px;
}
.books{
    display: flex;
    width: 1020px;
    justify-content: space-around;
    flex-flow: row wrap;
}
section {
    width: 45%;
    margin: 5px;
    position: relative;
    display: block;
    bottom: 0px;
}

section img {
    height: 300px;
    width: 300px;
    position: static;
}

div.img {
    display: inline-block;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    z-index: 1;
    padding: 5px;
    border: 5px solid black;
    overflow: hidden;
    flex-flow: column;
    flex: auto;
}



.click {
    width: 300px;
    height: 300px;
    position: absolute;
    text-align: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: aliceblue;
    font-size: x-large;
}


h1.header {
    width: 1016px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#header {
    width: 1016px;
    margin-top: 570px;
    margin-bottom: 570px;
}
.navigation{
    display: flex;
    max-width: 1016px;
    height: 400px ;
}